.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 1.5em;
}

.button {
    width: 120px;
    
    padding: 10px;

    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.7em;

    background-color: #5A189A;
    color: white;
}